.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #9a9cea;
}

body {
  height: 100%;
  background-color: #f2f2f2;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: #a2dcee;
  font-family: 'Amatic SC';
  font-size: 20px;
}

aside a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 15px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a2b9ee;
}

nav div a {
  display: block;
  color: #c6c6c6;
  font-family: 'Amatic SC';
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

nav li {
  float: left;
  margin: auto 7%;
  font-family: 'Amatic SC';
  font-size: 24px;
}

nav li a {
  display: block;
  color: #c6c6c6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li a:hover {
  background-color: #a2dcee;
}

li a:visited {
  color: red;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: 'Sigmar One';
  color: #fff;
}

h2 {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: 'Amatic SC';
  margin-top: 15px;
}

footer {
  background-color: #a2b9ee;
  color: #f2f2f2;
  font-family: 'Amatic SC';
  font-size: 20px;
}

section {
  font-family: 'Montserrat';
  font-size: 16px;
}

section h3 {
  font-family: 'Amatic SC';
  font-size: 35px;
}

#galeria ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#galeria img {
  width: 100%;
  display: block;
  margin: auto;
  -webkit-backdrop-filter: inherit;
          backdrop-filter: inherit;
  height: 600px;
}

#ejercicio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ejercicio ul video {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

label {
  font-size: 20px;
  display: inline-block;
  width: 70px;
}

#Formulario {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#meditacionMusica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#meditacion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#meditacion ul video {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#dieta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#dieta ul video {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

div.figure {
  width: 25%;
  padding: 10px;
}

div.figure p {
  margin-bottom: 15px;
  text-align: center;
  text-indent: 0;
}

div.calculadora {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
}

div.calculadora .contenedor {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

div.calculadora .contenedor .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.contacto {
  background: #f2f2f2;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
}

div.contacto .contenedor {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

div.contacto .contenedor h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #a2b9ee;
}

div.contacto .contenedor .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

div.contacto .contenedor .contenido .info {
  width: 50%;
  padding-left: 10px;
}

div.contacto .contenedor .contenido .info .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

div.contacto .contenedor .contenido .info .col .icono {
  color: #a2b9ee;
  margin-right: 10px;
}

div.contacto .contenedor .contenido .info .col p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
}

div.contacto .contenedor .contenido .info .redes-s {
  width: 100%;
  overflow: hidden;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.contacto .contenedor .contenido .info .redes-s a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background: #a2b9ee;
  color: #fff;
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

div.contacto .contenedor .contenido .info .redes-s a:hover {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

div.contacto .contenedor .contenido .formulario {
  width: 50%;
  padding-left: 10px;
}

div.contacto .contenedor .contenido .formulario input, div.contacto .contenedor .contenido .formulario textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  outline: 0;
}

div.contacto .contenedor .contenido .formulario .textarea {
  max-width: 100%;
  min-width: 100%;
  min-width: 150px;
  max-width: 200px;
}

div.contacto .contenedor .contenido .formulario input:focus, div.contacto .contenedor .contenido .formulario textarea:focus {
  border: 1px solid #a2b9ee;
}

div.contacto .contenedor .contenido .formulario button {
  padding: 12px 30px;
  border: transparent;
  border-radius: 10px;
  background: #a2b9ee;
  color: #fff;
  cursor: pointer;
}

div.ventana {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.ventana .mensaje {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

div.ventana .mensaje h3 {
  text-align: center;
  font-family: 'Ubuntu','sans-serif';
  font-size: 20px;
  font-weight: 400;
}

div.ventana .mensaje h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

div.ventana .mensaje p {
  font-size: 16px;
  color: #606060;
}

div.ventana .mensaje p:before {
  content: '\f00d';
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
}

div.ventana .mensaje #btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
}

#login {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Amatic SC', sans-serif;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.5);
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera div p, .caja__trasera button {
  margin-top: 30px;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #46A2FD;
}

/*Formularios*/
.contenedor__login-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  /*La transicion va despues del codigo JS*/
  -webkit-transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 20px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  /*Formularios*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-register form {
    position: relative;
  }
}
/*# sourceMappingURL=estilos.css.map */