.row {
    display: flex;
}

.column {
    flex: 50%;
    background-color: #9a9cea;
}

body {
    height: 100%;
    background-color: white;
}

/*aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: #a2dcee;
}*/

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2b9ee;
}

li a {
    display: block;
    color: #c6c6c6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav li {
    float: left;
    margin: auto 7%;
    font-family: 'Amatic SC';
    font-size: 24px;
}

li a:hover {
    background-color: #a2dcee;
}

li a:visited {
    color: white;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Sigmar One';
    color: white;
}

h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Amatic SC';
    margin-top: 15px;
}

footer {
    background-color: #a2b9ee;
    color: white;
    font-family: 'Amatic SC';
    font-size: 20px;
}

#galeria ul {
    display: flex;
}

#galeria img {
    width: 100%;
    display: block;
    margin: auto;
    backdrop-filter: inherit;
    height: 600px;
}

#ejercicio ul {
    display: flex;
}

#ejercicio ul video {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

label{
    font-size: 20px;
    display: inline-block;
    width: 70px;
}

#Formulario{
    
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

#meditacion{
    display: flex;
    justify-content: center;
}

#meditacionVideos ul {
    display: flex;

}


#meditacionVideos ul video {

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

}


#dieta ul {
    display: flex;

}


#dieta ul video {

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

}

div.figure {
    width: 25%;
    padding: 10px;
}

div.figure p {
    margin-bottom: 15px;
    text-align: center;
    text-indent: 0;
}