div.contacto{
    background: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    .contenedor{        
        width: 90%;
        max-width: 1000px;
        background: #fff;
        padding: 40px;
        margin: 20px auto;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        h1{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 25px;
            color: #a2b9ee;
        }

        .contenido{
            display: flex;
            width: 100%;
            overflow: hidden;
            .info{
                width: 50%;
                padding-left: 10px;
                .col{
                    width: 100%;
                    display: flex;
                    margin-bottom: 17px;
                    font-size: 17px;
                    align-items: center;
                    flex-wrap: nowrap;

                    .icono{
                        color: #a2b9ee;
                        margin-right: 10px;                        
                    }
                    
                    p{
                        display: flex;
                        align-items: center;
                        color: #999;
                    }
                }

                .redes-s{
                    width: 100%;
                    overflow: hidden;
                    padding-left: 25px;
                    display: flex;
                    flex-wrap: wrap;

                    a{
                        display: flex;
                        width: 40px;
                        height: 40px;
                        background: #a2b9ee;
                        color: #fff;
                        margin: 5px;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        border-radius: 50%;
                        box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
                    }

                    a:hover{
                        box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
                    }
                }
            }

            .formulario{
                width: 50%;
                padding-left: 10px;
                input,textarea{
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 12px 20px;
                    border: 1px solid #999;
                    color: #999;
                    font-family: 'Open Sans',sans-serif;
                    font-weight: 400;
                    outline: 0;
                }

                .textarea{
                    max-width: 100%;
                    min-width: 100%;
                    min-width: 150px;
                    max-width: 200px;
                }

                input:focus,textarea:focus{
                    border: 1px solid #a2b9ee;
                }

                button{
                    padding: 12px 30px;
                    border: transparent;
                    border-radius: 10px;
                    background: #a2b9ee;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 720px){
    div.info{
        display: none;
    }
    div.contacto div.contenedor div.contenido div.formulario{
        width: 100%;
    }
}

div.ventana{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .mensaje{
        background: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
        width: 400px;
        padding: 30px 20px 15px;

        h3{
            text-align: center;
            font-family: 'Ubuntu','sans-serif';
            font-size: 20px;
            font-weight: 400;
        }

        h3:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #C5C5C5;
            margin: 10px 0px 15px;
        }

        p{
            font-size: 16px;
            color: #606060;
        }
        p:before{
            content: '\f00d';
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: inline-block;
            color: #E25151;
            margin-right: 8px;
        }

        #btnClose{
            display: inline-block;
            padding: 3px 10px;
            margin-top: 10px;
            background: #E25151;
            color: #fff;
            border: 2px solid #B14141;
            cursor: pointer;
        }
    }
}