<h2>Musica para Meditar</h2>



<div id="meditacionMusica">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/22i6SofLVRY" title="YouTube video player" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>

</div>

<h2>Tipos de Meditacion</h2>

<div id="meditacion" >

  <ul id="Todas las meditaciones" class="listaVideos"></ul>
  {{ListarVideos()}}
  <!--{{ListarVideos()}}-->
  
  
    
</div>
