<h2>Musica para Meditar</h2>

<div id="meditacionMusica">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/22i6SofLVRY" title="YouTube video player" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>

</div>

<h2>Tipos de Meditacion</h2>

<div id="meditacion" class="figure">

    <ul id="Todas las meditaciones"></ul>
    
</div>

<script >var exports ={}</script>
<script src="./js/meditacion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
