<header>
    <div class="row">
        <div class="column p-2">
            <h1>FitLife</h1>
        </div>
    </div> 

    <!--<div class="collapse navbar-collapse" id="navbarColor02"> -->

    
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">  
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ejercicio']">Ejercicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/nutricion']">Nutrición</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/meditacion']">Meditación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>