.row {
    display: flex;
    .column {
        flex: 50%;
        background-color: #9a9cea;
        /*h1 {
            font-size: 70px;
            text-align: center;
            font-family: 'Sigmar One';
            color: #fff;;
        }*/
    }
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    //overflow: hidden;
    background-color: #a2b9ee;

    div{
        a {
        display: block;
        color: #c6c6c6;
        font-family: 'Amatic SC';
        font-size: 24px;
        text-align: center;
        text-decoration: none;

        }
    }

    li {
        float: left;
        margin: auto 7%;
        font-family: 'Amatic SC';
        font-size: 24px;

        a {
            display: block;
            color: #c6c6c6;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        p {
            display: block;
            text-align: center;
        }

        .boton {
            display: block;
            text-align: center;
        }
        ul{
            position: absolute;
            /*li{
                position: absolute;
                display: flex;
                color: #110ebe;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }*/
        }
    }
}

li {
    list-style-type: none;
    a:hover {
        background-color: #a2dcee;
    }
    a:visited {
        color: red;
    }
}


header{
    background-color: #a2b9ee;
    font-size: 20px;

    #btn_menu {
        display: none;
    }

    label {
        display: none;
        width: 40px;
        height: 40px;
        padding: 7px;
        border-right: 1px solid #fff;
    }

    label:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.3);
    }
}

#btn{
    
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    background: #a2b9ee;
    font-weight: 600;
    cursor: pointer;
    color: #c6c6c6;
    outline: none;
    
}
#btn:hover{
    cursor: pointer;
    background-color: #a2dcee;
    color: #000000
}