<h2>Calcula tu IMC</h2>

<div class="calculadora">
    <div class="contenedor">
        <div class="contenido">
          <form action="" method="GET" class="formulario" id="formulario">

            <input type="tex" name="Peso" placeholder="Peso(kg)" id="peso">
            <input type="text" name="altura" placeholder="Altura(cm)" id="altura">
            <button type="submit" id="btn-imc">Enviar</button>
          </form>
        </div>
        
    </div>
</div>

<h2>Tipos de dietas</h2>
<div id="dieta" class="figure">
    <ul id="todas las dietas"></ul>
</div>

<script> var exports={};</script>
<script src ="./js/Videos.js"></script>
<script src ="./js/vidasana.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="js/calculadora.js" async></script>