<h2>Ejercicios destacados</h2>

<div id="ejercicio" >
    <ul id="ejerciciosDestacados" class="listaVideos"></ul>
    {{ListarVideosDestacados()}}
</div>

<h2>Todas las rutinas</h2>

<div id="ejercicio" >    
        
    <ul id="Todas las rutinasA" class="listaVideos"></ul>
    <ul id="Todas las rutinasB" class="listaVideos"></ul>  
    {{ListarVideos()}}  
</div>
    
<script> var exports={};</script>
<script src ="./js/Videos.js"></script>
<script src ="./js/Ejercicio.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
