/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Sigmar One';
    color: #fff;;
}

h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Amatic SC';
    margin-top: 15px;
}


div.figure {
    width: 25%;
    padding: 10px;

    p {
        margin-bottom: 15px;
        text-align: center;
        text-indent: 0;
    }
}



#Formulario{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

