<form action="" class="" [formGroup]="formularioCambioClave" (ngSubmit) = "cambiarClave()" novalidate>
    <h2>Iniciar Sesión</h2>
    <input type="text" formControlName="correo" placeholder="Correo regitrado">
    <input type="text" formControlName="claveActualIngresada" placeholder="Contraseña actual">
    <input type="text" formControlName="claveIngresada" placeholder="Nueva Contraseña">
    <input type="text" formControlName="claveNueva2" placeholder="Repita la nueva contraseña">
    <button type ="submit">Entrar</button>
</form>